*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
google-services.json
app/src/main/java/com/example/airsignal_app/dao/IgnoredKeyFile.kt
app/src/main/res/values/ignored_key.xml
app/src/main/java/com/example/airsignal_app/dao/URLConnectionData.kt