<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="app.airsignal.weather">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.BIND_REMOTEVIEWS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name="app.airsignal.weather.koin.BaseApplication"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app__name"
        android:networkSecurityConfig="@xml/network_security_work"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AirSignal_App"
        android:windowSoftInputMode="adjustNothing"
        tools:replace="android:icon,android:label">
        <activity
            android:name="app.airsignal.weather.view.activity.WarningDetailActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="app.airsignal.weather.view.activity.WebURLActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="app.airsignal.weather.view.activity.PermissionActivity"
            android:attributionTags="SLocationService"
            android:exported="false"
            android:hardwareAccelerated="false"
            tools:targetApi="s">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="app.airsignal.weather.view.activity.SplashActivity"
            android:exported="true"
            android:hardwareAccelerated="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="app.airsignal.weather.view.activity.SettingActivity"
            android:exported="false"
            android:hardwareAccelerated="true" />
        <activity
            android:name="app.airsignal.weather.view.activity.MainActivity"
            android:attributionTags="SLocationService"
            android:exported="false"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="true"
            tools:targetApi="s" />
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true"
            android:hardwareAccelerated="false">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="@string/kakaoOAuth" />
            </intent-filter>
        </activity>
        <activity
            android:name="app.airsignal.weather.view.activity.LoginActivity"
            android:exported="true" />
        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity"
            android:theme="@style/OpenSourceMenuTheme" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/adMobId" />
        <meta-data
            android:name="com.google.android.gms.ads.flag.OPTIMIZE_INITIALIZATION"
            android:value="true"/>
        <meta-data
            android:name="com.google.android.gms.ads.flag.OPTIMIZE_AD_LOADING"
            android:value="true"/>

        <receiver
            android:name="app.airsignal.weather.firebase.fcm.NotificationBuilder"
            tools:ignore="Instantiatable"/>
        <service
            android:name="app.airsignal.weather.firebase.fcm.SubFCM"
            android:directBootAware="true"
            android:exported="false"
            android:enabled="true"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".view.widget.WidgetProvider"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider" />
        </receiver>
    </application>

</manifest>